
    <!-- contact-detail.comp.html starts -->
    <div class="row">
      <div class="card col-md-12">
        <div class="card-body">
          <h5 class="card-title">John </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <p>Phone: 245324532425</p>
          <p>Email: john@example.com</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  <!-- contact-detail.comp.html ends -->